name: Build and Push Docker Images

on:
  push:
    branches: [master]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Web App Image
        run: |
          docker build -t ${{ secrets.ECR_WEBAPP_URI }}:latest -f Dockerfile .
          docker build -t ${{ secrets.ECR_WEBAPP_URI }}:v2 -f Dockerfile .
          docker push ${{ secrets.ECR_WEBAPP_URI }}:latest
          docker push ${{ secrets.ECR_WEBAPP_URI }}:v2


      - name: Build and Push MySQL Image
        run: |
          docker build -t ${{ secrets.ECR_MYSQL_URI }}:latest -f Dockerfile_mysql .
          docker push ${{ secrets.ECR_MYSQL_URI }}:latest
